<!-- Table of Customers -->
<div id="mainContentTableCustomer">
  <mat-card>
    <!-- Customer Table -->
    <table mat-table [dataSource]="customerList">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let customer">{{ customer.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let customer">{{ customer.name }}</td>
      </ng-container>

      <!-- E-Mail Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>E-Mail</th>
        <td mat-cell *matCellDef="let customer">{{ customer.email }}</td>
      </ng-container>

      <!-- Birth Date Column -->
      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef>Birth Date (MM/DD/YYYY)</th>
        <td mat-cell *matCellDef="let customer">
          {{ customer.birthDate | date: "MM/dd/yyyy" }}
        </td>
      </ng-container>

      <!-- Buttons Column -->
      <ng-container matColumnDef="actions">
        <!-- Column Header -->
        <th mat-header-cell *matHeaderCellDef id="actionsHeader">
          <!-- Add Customer Button -->
          <button mat-icon-button color="primary" aria-label="Add a Customer">
            <mat-icon (click)="onAdd()">add</mat-icon>
          </button>
        </th>

        <!-- Column Row -->
        <td mat-cell *matCellDef="let customer" id="actionsCell">
          <!-- Edit Customer Button -->
          <button mat-icon-button color="primary" aria-label="Edit a Customer">
            <mat-icon (click)="onEdit(customer)">edit</mat-icon>
          </button>

          <!-- Remove Customer Button -->
          <button mat-icon-button color="warn" aria-label="Remove a Customer">
            <mat-icon (click)="onDelete(customer.id)">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Table Displayed Columns and Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
</div>
